* {
    margin: 0;
    padding: 0;
  } 

.hidden {
    display: none;
}

#start-btn{
    width: 100px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    text-align: center;
}

header {
    margin: 0 auto;
    width: 800px;
    height: 80px;
    background: #EFEFEF;
    color: #E14658;
    text-align: center;
}

.smallbutton {
    display: block;
    padding: 10px;
    width: 65px;
    margin: 5px;
    font-size: 16px;
}

.bigbutton {
    display: block;
    padding: 10px;
    width: 200px;
    margin: 5px;
    background: #E14658;
    color: white;
    font-size: 20px;
}

#quit-btn {
    margin-left: 5px;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

h1 {
   margin: 0;
   margin-top: 2vh;
   font-size: 40px;
   display: inline-block;
}

h5 {
    margin: 5px;
}

main {
    width: 100vw;
}

#message-and-gameboard {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#messageboard {
    height: 350px;
    width: 350px;
    margin: 10px 50px 10px 0;
    padding: 10px;
    background: #E14658;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#gameboard div {
    height: 100%;
    width: 100%;
    background: #EFEFEF;
    border: 1px solid white;
}

.highlight-square {
    border: 1px solid #E14658;
}

#gameboard {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20% 20%;  
    grid-template-areas: 1a 1b 1c 1d 1e
                         2a 2b 2c 2d 2e
                         3a 3b 3c 3d 3e
                         4a 4b 4c 4d 4e
                         5a 5b 5c 5d 5e;
}

#1a {
    grid-area: 1a
}
#1b {
    grid-area: 1b
}
#1c {
    grid-area: 1c
}
#1d {
    grid-area: 1d
}
#1e {
    grid-area: 1e
}
#2a {
    grid-area: 2a
}
#2b {
    grid-area: 2b
}
#2c {
    grid-area: 2c
}
#2d {
    grid-area: 2d
}
#2e {
    grid-area: 2e
}
#3a {
    grid-area: 3a
}
#3b {
    grid-area: 3b
}
#3c {
    grid-area: 3c
}
#3d {
    grid-area: 3d
}
#3e {
    grid-area: 3e
}
#4a {
    grid-area: 4a
}
#4b {
    grid-area: 4b
}
#4c {
    grid-area: 4c
}
#4d {
    grid-area: 4d
}
#4e {
    grid-area: 4e
}
#5a {
    grid-area: 5a
}
#5b {
    grid-area: 5b
}
#5c {
    grid-area: 5c
}
#5d {
    grid-area: 5d
}
#5e {
    grid-area: 5e
}

#playerboard {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#scoreboard {
    padding: 20px;
    margin: 30px;
    background: #EFEFEF;
    color: black;
    text-align: center;
}


#tileboard-timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#tileboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#tileboard div {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#tileboard img {
    display: none;
    height: 50px;
    width: 50px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
}